.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  gap: 10px;
}

.form > input {
  background-color: #f1f1f1;
}

.form > button {
  background-color: #000;
  color: #fff;
}
