.container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.menu {
  width: 250px;
  padding-top: 20px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playbutton {
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  width: 180px;
}

.playstop {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
}

.icon {
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.play {
  color: #4dc24d;
}

.stop {
  color: #e0552e;
}

.plot {
  width: 100%;
}